@import 'tailwindcss';

@font-face {
  font-family: 'PokemonXY';
  src: url('/fonts/PokemonXandY.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-pokemon {
  font-family: 'PokemonXY', sans-serif;
}

.text-outline-black {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}
